th {
    font-weight: bold;
    background-color: cadetblue;
    border: 1px solid black;
}
table {
    border: 1px solid black;
}
td {
    border: 1px solid black;
    padding: 1px;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  
    z-index: 1;
  }
  .show1{
    display:block;
  }
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    width:150px;
    z-index: 1;
  }
  .vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: flex;
  }
  .dot {
    height: 4px;
    width: 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  input[name="message1"]{
    border-radius: 2px;
    width:90%

  }
  #current_page{background-color: blue;
  color: white;
  cursor: pointer;
  }
 
  #user_creation{
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
  }
  ._8icy ._6lti {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
  }
  
  .buttoner {direction: ltr;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  color: #fff;
  background-color: #42b72a;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  font-family: inherit;
}


.buttoner1 {direction: ltr;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  color: #fff;
  background-color: grey;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 38px;
  padding: 0 16px;
  font-family: inherit;
  height: 40px;
}


.buttoner1 {direction: ltr;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  color: #fff;
  background-color: grey;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 38px;
  padding: 0 16px;
  font-family: inherit;
  height: 40px;
}


.buttoner2 {direction: ltr;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
  color: #fff;
  background-color: red;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 38px;
  padding: 0 16px;
  font-family: inherit;
  height: 40px;
}
del{
  text-decoration: line-through;
}
.page_numbers input{direction: ltr;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  
  color: #fff;
  background-color: grey;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 28px;
  padding: 0 16px;
  font-family: inherit;
  height: 30px;
}
.page_numbers{
  display: inline-block;
  top:0;
  position:absolute;
  width : 8.33333333333%;
}
.button_group{
  position:relative;
  margin: 0 auto;
  display:flex;
  width:100%;
  
}

#previous {
  left: 0;
  
}
#previous input{
  cursor:pointer;
}
#page_1{
  left:8.333333%
}
#page_2{
  left:16.666666%
}
#page_3{
  left:24.999999%
}
#page_4{
  left:33.333333%
}
#page_5{
  left:41.666666%
}
#page_6{
  left:49.999999%
}
#page_7{
  left:58.333333%
}
#page_8{
  left:66.666666%
}
#page_9{
  left:74.999999%
}
#page_10{
  left:83.333333%
}
#next{
  left:91.666666%;
}
#next input{
  cursor:pointer;
}

.language_option{
  flex:1;
  direction: ltr;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  
  color: #fff;
  background-color: grey;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 28px;
  padding: 0 16px;
  font-family: inherit;
  height: 30px;


}

.liked1{    --fds-black: #000000;
  --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
  --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
  --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
  --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
  --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
  --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
  --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
  --fds-blue-05: #ECF3FF;
  --fds-blue-30: #AAC9FF;
  --fds-blue-40: #77A7FF;
  --fds-blue-60: #1877F2;
  --fds-blue-70: #2851A3;
  --fds-blue-80: #1D3C78;
  --fds-button-text: #444950;
  --fds-comment-background: #F2F3F5;
  --fds-dark-mode-gray-35: #CCCCCC;
  --fds-dark-mode-gray-50: #828282;
  --fds-dark-mode-gray-70: #4A4A4A;
  --fds-dark-mode-gray-80: #373737;
  --fds-dark-mode-gray-90: #282828;
  --fds-dark-mode-gray-100: #1C1C1C;
  --fds-gray-00: #F5F6F7;
  --fds-gray-05: #F2F3F5;
  --fds-gray-10: #EBEDF0;
  --fds-gray-20: #DADDE1;
  --fds-gray-25: #CCD0D5;
  --fds-gray-30: #BEC3C9;
  --fds-gray-45: #8D949E;
  --fds-gray-70: #606770;
  --fds-gray-80: #444950;
  --fds-gray-90: #303338;
  --fds-gray-100: #1C1E21;
  --fds-green-55: #00A400;
  --fds-highlight: #3578E5;
  --fds-highlight-cell-background: #ECF3FF;
  --fds-primary-icon: #1C1E21;
  --fds-primary-text: #1C1E21;
  --fds-red-55: #FA383E;
  --fds-soft: cubic-bezier(.08,.52,.52,1);
  --fds-spectrum-aluminum-tint-70: #E4F0F6;
  --fds-spectrum-blue-gray-tint-70: #CFD1D5;
  --fds-spectrum-cherry: #F35369;
  --fds-spectrum-cherry-tint-70: #FBCCD2;
  --fds-spectrum-grape-tint-70: #DDD5F0;
  --fds-spectrum-grape-tint-90: #F4F1FA;
  --fds-spectrum-lemon-dark-1: #F5C33B;
  --fds-spectrum-lemon-tint-70: #FEF2D1;
  --fds-spectrum-lime: #A3CE71;
  --fds-spectrum-lime-tint-70: #E4F0D5;
  --fds-spectrum-orange-tint-70: #FCDEC5;
  --fds-spectrum-orange-tint-90: #FEF4EC;
  --fds-spectrum-seafoam-tint-70: #CAEEF9;
  --fds-spectrum-slate-dark-2: #89A1AC;
  --fds-spectrum-slate-tint-70: #EAEFF2;
  --fds-spectrum-teal: #6BCEBB;
  --fds-spectrum-teal-dark-1: #4DBBA6;
  --fds-spectrum-teal-dark-2: #31A38D;
  --fds-spectrum-teal-tint-70: #D2F0EA;
  --fds-spectrum-teal-tint-90: #F0FAF8;
  --fds-spectrum-tomato: #FB724B;
  --fds-spectrum-tomato-tint-30: #F38E7B;
  --fds-spectrum-tomato-tint-90: #FDEFED;
  --fds-strong: cubic-bezier(.12,.8,.32,1);
  --fds-white: #FFFFFF;
  --fds-white-alpha-05: rgba(255, 255, 255, 0.05);
  --fds-white-alpha-10: rgba(255, 255, 255, 0.1);
  --fds-white-alpha-20: rgba(255, 255, 255, 0.2);
  --fds-white-alpha-30: rgba(255, 255, 255, 0.3);
  --fds-white-alpha-40: rgba(255, 255, 255, 0.4);
  --fds-white-alpha-50: rgba(255, 255, 255, 0.5);
  --fds-white-alpha-60: rgba(255, 255, 255, 0.6);
  --fds-white-alpha-80: rgba(255, 255, 255, 0.8);
  --fds-yellow-20: #FFBA00;
  --accent: hsl(214, 89%, 52%);
  --always-white: #FFFFFF;
  --always-black: black;
  --always-dark-gradient: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
  --always-light-overlay: rgba(255, 255, 255, 0.4);
  --always-gray-40: #65676B;
  --always-gray-75: #BCC0C4;
  --always-gray-95: #F0F2F5;
  --attachment-footer-background: #F0F2F5;
  --background-deemphasized: #F0F2F5;
  --base-blue: #1877F2;
  --base-cherry: #F3425F;
  --base-grape: #9360F7;
  --base-lemon: #F7B928;
  --base-lime: #45BD62;
  --base-pink: #FF66BF;
  --base-seafoam: #54C7EC;
  --base-teal: #2ABBA7;
  --base-tomato: #FB724B;
  --blue-link: #216FDB;
  --card-background: #FFFFFF;
  --card-background-flat: #F7F8FA;
  --comment-background: #F0F2F5;
  --comment-footer-background: #F6F9FA;
  --dataviz-primary-1: rgb(48,200,180);
  --disabled-button-background: #E4E6EB;
  --disabled-button-text: #BCC0C4;
  --disabled-icon: #BCC0C4;
  --disabled-text: #BCC0C4;
  --divider: #CED0D4;
  --event-date: #F3425F;
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-always-white: invert(100%);
  --filter-disabled-icon: invert(80%) sepia(6%) saturate(200%) saturate(120%) hue-rotate(173deg) brightness(98%) contrast(89%);
  --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
  --filter-warning-icon: invert(77%) sepia(29%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(128%) hue-rotate(359deg) brightness(102%) contrast(107%);
  --filter-blue-link-icon: invert(30%) sepia(98%) saturate(200%) saturate(200%) saturate(200%) saturate(166.5%) hue-rotate(192deg) brightness(91%) contrast(101%);
  --filter-positive: invert(37%) sepia(61%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(115%) hue-rotate(91deg) brightness(97%) contrast(105%);
  --filter-negative: invert(25%) sepia(33%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(110%) hue-rotate(345deg) brightness(132%) contrast(96%);
  --glimmer-spinner-icon: #65676B;
  --hero-banner-background: #FFFFFF;
  --hosted-view-selected-state: rgba(45, 136, 255, 0.1);
  --highlight-bg: #E7F3FF;
  --hover-overlay: rgba(0, 0, 0, 0.05);
  --media-hover: rgba(68, 73, 80, 0.15);
  --media-inner-border: rgba(0, 0, 0, 0.1);
  --media-outer-border: #FFFFFF;
  --media-pressed: rgba(68, 73, 80, 0.35);
  --messenger-card-background: #FFFFFF;
  --messenger-reply-background: #F0F2F5;
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --overlay-on-media: rgba(0, 0, 0, 0.6);
  --nav-bar-background: #FFFFFF;
  --nav-bar-background-gradient: linear-gradient(to top, #FFFFFF, rgba(255,255,255.9), rgba(255,255,255,.7), rgba(255,255,255,.4), rgba(255,255,255,0));
  --nav-bar-background-gradient-wash: linear-gradient(to top, #F0F2F5, rgba(240,242,245.9), rgba(240,242,245,.7), rgba(240,242,245,.4), rgba(240,242,245,0));
  --negative: hsl(350, 87%, 55%);
  --negative-background: hsl(350, 87%, 55%, 20%);
  --new-notification-background: #E7F3FF;
  --non-media-pressed: rgba(68, 73, 80, 0.15);
  --non-media-pressed-on-dark: rgba(255, 255, 255, 0.3);
  --notification-badge: #e41e3f;
  --placeholder-icon: #8A8D91;
  --placeholder-text: #8A8D91;
  --placeholder-text-on-media: rgba(255, 255, 255, 0.5);
  --popover-background: #FFFFFF;
  --positive: #31A24C;
  --positive-background: #DEEFE1;
  --press-overlay: rgba(0, 0, 0, 0.10);
  --primary-button-background: #1B74E4;
  --primary-button-pressed: #77A7FF;
  --primary-button-text: #FFFFFF;
  --primary-deemphasized-button-background: #E7F3FF;
  --primary-deemphasized-button-pressed: rgba(0, 0, 0, 0.05);
  --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
  --primary-deemphasized-button-text: #1877F2;
  --primary-icon: #050505;
  --primary-text: #050505;
  --primary-text-on-media: #FFFFFF;
  --primary-web-focus-indicator: #D24294;
  --progress-ring-neutral-background: rgba(0, 0, 0, 0.2);
  --progress-ring-neutral-foreground: #000000;
  --progress-ring-on-media-background: rgba(255, 255, 255, 0.2);
  --progress-ring-on-media-foreground: #FFFFFF;
  --progress-ring-blue-background: rgba(24, 119, 242, 0.2);
  --progress-ring-blue-foreground: hsl(214, 89%, 52%);
  --progress-ring-disabled-background: rgba(190,195,201, 0.2);
  --progress-ring-disabled-foreground: #BEC3C9;
  --rating-star-active: #EB660D;
  --scroll-thumb: #BCC0C4;
  --scroll-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
  --secondary-button-background: #E4E6EB;
  --secondary-button-background-floating: #ffffff;
  --secondary-button-background-on-dark: rgba(0, 0, 0, 0.4);
  --secondary-button-pressed: rgba(0, 0, 0, 0.05);
  --secondary-button-stroke: transparent;
  --secondary-button-text: #050505;
  --secondary-icon: #65676B;
  --secondary-text: #65676B;
  --secondary-text-on-media: rgba(255, 255, 255, 0.9);
  --section-header-text: #4B4C4F;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-inset: rgba(255, 255, 255, 0.5);
  --surface-background: #FFFFFF;
  --text-highlight: rgba(24, 119, 242, 0.2);
  --toggle-active-background: #E7F3FF;
  --toggle-active-icon: rgb(24, 119, 242);
  --toggle-active-text: rgb(24, 119, 242);
  --toggle-button-active-background: #E7F3FF;
  --wash: #E4E6EB;
  --web-wash: #F0F2F5;
  --warning: hsl(40, 89%, 52%);
  --fb-logo-color: #2D88FF;
  --dialog-anchor-vertical-padding: 56px;
  --header-height: 56px;
  --global-panel-width: 68px;
  --button-corner-radius: 6px;
  --card-corner-radius: 8px;
  --fds-animation-enter-exit-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-enter-exit-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-swap-shuffle-in: cubic-bezier(0.14, 1, 0.34, 1);
  --fds-animation-swap-shuffle-out: cubic-bezier(0.45, 0.1, 0.2, 1);
  --fds-animation-move-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-move-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-in: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-expand-collapse-out: cubic-bezier(0.17, 0.17, 0, 1);
  --fds-animation-passive-move-in: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-passive-move-out: cubic-bezier(0.5, 0, 0.1, 1);
  --fds-animation-quick-move-in: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-quick-move-out: cubic-bezier(0.1, 0.9, 0.2, 1);
  --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
  --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
  --fds-duration-extra-extra-short-in: 100ms;
  --fds-duration-extra-extra-short-out: 100ms;
  --fds-duration-extra-short-in: 200ms;
  --fds-duration-extra-short-out: 150ms;
  --fds-duration-short-in: 280ms;
  --fds-duration-short-out: 200ms;
  --fds-duration-medium-in: 400ms;
  --fds-duration-medium-out: 350ms;
  --fds-duration-long-in: 500ms;
  --fds-duration-long-out: 350ms;
  --fds-duration-extra-long-in: 1000ms;
  --fds-duration-extra-long-out: 1000ms;
  --fds-duration-none: 0ms;
  --fds-fast: 200ms;
  --fds-slow: 400ms;
  --font-family-apple: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  --font-family-code: ui-monospace, Menlo, Consolas, Monaco, monospace;
  --font-family-default: Helvetica, Arial, sans-serif;
  --font-family-segoe: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  --dataviz-primary-2: rgb(134,218,255);
  --dataviz-primary-3: rgb(95,170,255);
  --dataviz-secondary-1: rgb(118,62,230);
  --dataviz-secondary-2: rgb(147,96,247);
  --dataviz-secondary-3: rgb(219,26,139);
  --dataviz-supplementary-1: rgb(255,122,105);
  --dataviz-supplementary-2: rgb(241,168,23);
  --dataviz-supplementary-3: rgb(49,162,76);
  --dataviz-supplementary-4: rgb(50,52,54);
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  --T68779821: 0 1px 2px var(--shadow-2);
  list-style: none;
  -webkit-user-select: none;
  text-align: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  font-family: inherit;
  vertical-align: -0.25em;
  -webkit-filter: var(--filter-accent);
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/nIvZfaAHsZy.png");
  background-position: 0px -238px;
  background-size: 26px 606px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
}

.high_scorer{


}
::-webkit-details-marker {   display:none; }
::marker{
  display:none
}